<ul class="icon-list">
  {{ range $name, $category := .Site.Taxonomies.categories }}
  {{ if eq $name "integration" }}
  {{ range sort $category "value" }}
    <li>
      <a href="{{ .Page.RelPermalink }}">
        {{ if ne (or .Page.Params.icon .Page.Params.pageImage) nil }}
        <img alt="" src="{{ (or .Page.Params.icon .Page.Params.pageImage) }}" />
        {{ end }}
        <div>{{ or .Page.Params.menuTitle .Page.Title }}</div>
      </a>
    </li>
  {{ end }}
  {{ end }}
  {{ end }}
</ul>
