{{ $metrics :=  .Site.Data.metrics }}

<div class="metric-list">
  <h2 id="node-level-metrics">Node Level Metrics</h2>
  {{ range sort $metrics.nodeMetrics "name" }}
  <div class="metric" id="{{.name}}">
    <div class="metric__top">
      <h3 class="metric__title" data-id="{{.name}}">{{ .name}}</h3>
    </div>
    <p>{{ .description | markdownify }}</p>
  </div>
  {{end}}

  <h2 id="object-level-metrics">Object Level Metrics</h2>
  {{ range sort $metrics.labelledMetrics "name" }}
  <div class="metric" id="{{.name}}">
    <div class="metric__top">
      <h3 class="metric__title" data-id="{{.name}}">{{ .name}}</h3>
    </div>
    <p>{{ .description | markdownify }} </p>
  </div>
  {{end}}

</div>
