{{ $queryFunctions :=  .Site.Data.functions }}

<div class="query-function-list">
{{ range sort $queryFunctions "name" }}
<div class="query-function" id="{{.name}}">
<div class="query-function__top">
  <h2 class="query-function__title" data-id="{{.name}}">{{ .name}}</h2>
  <div class="query-function__type">( {{ if .isAggregateFunction }}Aggregate{{ else }}Filter{{ end }} Function )</div>
</div>

<p>{{ .description | markdownify }}</p>
<h3 id="{{.name}}-parameters">Parameters</h3>
{{ if .parameters }}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>{{ range .parameters }}
    <tr>
        <td>{{if eq .name "as" }}<a href="/language-syntax/#assignment-operator">{{.name}}</a>{{else}}{{ .name}}{{end}}</td>
        <td>{{ .type}}</td>
        <td>{{ if .isRequired }}Yes{{ else }}No{{ end }}</td>
        <td>{{ .defaultValue}}</td>
        <td>{{ .description | markdownify }}</td>
    </tr>
    {{ end }}</tbody>
</table>
<p><code>{{.defaultParameter}}</code> &nbsp;&nbsp; is the unnamed parameter</p>
{{ else }}
<p>Takes no parameters</p>
{{ end }}
<h3 id="{{ .name }}-examples">Examples</h3>
{{range $index, $value := .examples}}
<h4 id="{{ $value.name }}-examples-{{add $index 1}}">Example {{ add $index 1 }}</h4>
<p>{{ $value.description }}</p>
<pre><code class="language-humio">{{ $value.value }}</code></pre>
{{ end }}
</div>
{{ end }}
</div>
